<div th:fragment="html">
    <script>
        $(function(){
            var pid = getUrlParms("pid");
            var data4Vue = {
                uri:'foreproducts',
                p:'',
                category:null,
                firstProductImage:null,
                pvs:[],
                reviews:[],
                showDetail:true,
                showReview:false,
                user:{name:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    linkDefaultActions();
                    this.load();
                },
                methods: {
                    load:function(){
                        var url =  this.uri+"/"+pid;
                        axios.get(url).then(function(response) {
                            var result = response.data;
                            vue.p=result.data.product;
                            vue.pvs=result.data.pvs;
                            vue.reviews=result.data.reviews;

                            vue.category = vue.p.category;
                            vue.firstProductImage = vue.p.firstProductImage;
                            //vue dom操作是异步的，
                            //当vue响应式的改变一个值以后，此时的dom并不会立即更新，
                            // 如果需要在数据改变以后立即通过dom做一些操作，可以使用$nextTick获得更新后的dom
                            vue.$nextTick(function(){
                                //当改变了dom的值后，使用下面的监听器检验数据然后更新；
                                //这边改变了数量的值，需要对改变的值进行过滤
                                imgAndInfoPageRegisterListeners(vue);
                            })
                        });

                    },
                    toggle2Detail:function(){
                        this.showDetail=true;
                        this.showReview=false;
                    },
                    toggle2Review:function(){
                        this.showDetail=false;
                        this.showReview=true;
                    }
                }
            });

        });
    </script>

    <title>模仿天猫官网 -- {{p.name}}</title>
    <div class="categoryPictureInProductPageDiv">
        <img v-if="category!=null" class="categoryPictureInProductPage" :src="'img/category/'+category.id+'.jpg'">
    </div>
    <div class="productPageDiv">
        <div th:replace="include/fore/product/imgAndInfo::html" ></div>
        <div th:replace="include/fore/product/productReview::html" ></div>
        <div th:replace="include/fore/product/productDetail::html" ></div>
    </div>
</div>
